*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: fff;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  cursor: pointer;
  max-width: 100%;
  object-fit: cover;
}
